<div class="home  bg-teal-500 flex justify-center items-center flex-col">
    <div class="container mx-auto text-white w-4/5 mt-12">

        <img src="./assets/img/avataaars.svg" alt="avatars" class="w-56 mx-auto m-8 block">
        <h2 class="text-center text-4xl uppercase font-bold mb-4">start Framework</h2>
   
<div class="flex justify-center items-center">
    <span class="line  bg-white border w-20 h-1"></span>
    <i class="fa-solid fa-star m-2"></i>
    <span class="line  bg-white border w-20 h-1"></span>
</div>

<p class="text-center text-sm">Graphic Artist - Web Designer - Illustrator</p>
    </div>
</div>